.content {
    width: 1170px;
    margin: 0 auto;
}

.employeesTable {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.filterForm {
    overflow: hidden;
}

.filterItem {
    display: inline-block;
    margin-right: 20px;
}

.leftPartFilterForm {
    float: left;
}


input[type="text"] {
    height: 25px;
    border-radius: 7px;
    border: 2px solid rgb(197, 197, 197);
}

input[type="text"]:focus {
    outline: none;
    border-radius: 7px;
    border: 2px solid rgb(0, 197, 197);
}

select {
    border-radius: 5px;
    border: 2px solid rgb(197, 197, 197);
}

select:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(0, 197, 197);
}
