<div>
    First name: 
    <input type="text" data-ng-model="query" />
    <table>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
        </tr>
        <tr data-ng-repeat="employee in employees | firstNameFilter: query">
            <td>
                {{employee.firstName}}
            </td>
            <td>
                {{employee.lastName}}
            </td>
            <td>
                <a data-ng-href="#/employees/{{employee.id}}">
                    Edit
                </a>
            </td>
        </tr>
    </table>
</div>