<div>
    First name: 
    <input type="text" data-ng-model="firstNameInput" />
    
    Last name:
    <input type="text" data-ng-model="lastNameInput" />
    
    Department:
    <input type="text" data-ng-model="departmentInput" />
    
    Abilities:
    <select multiple="multiple" data-ng-model="abilitiesSelect">
        <option ng-repeat="ability in abilities">{{ability.name}}</option>
    </select>

    <table>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Department
            </th>
            <th>
                
            </th>
        </tr>
        <tr data-ng-repeat="employee in employees 
            | firstNameFilter:firstNameInput 
            | lastNameFilter:lastNameInput 
            | departmentFilter:departmentInput 
            | abilitiesFilter:abilitiesSelect">
            
            <td>
                <a data-ng-href="#/employees/{{employee._id.$oid}}">{{employee.firstName}}</a>
            </td>
            <td>
                {{employee.lastName}}
            </td>
            <td>
                {{employee.department}}
            </td>
            <td>
                {{employee.abilities}}
            </td>
            <td>
                <a data-ng-href="#/employees/{{employee._id.$oid}}/edit">
                    Edit
                </a>
                <a data-ng-href="#/employees/{{employee._id.$oid}}/delete">
                    Delete
                </a>
            </td>
        </tr>
    </table>
    <div>
        <a data-ng-href="#/create">Add new employee</a>
    </div>
</div>