<div class="container">
    <div class="well row">
            <table class="table table-hover">
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Abilities
                    </th>
                </tr>
                <tr>
                    <td>
                        {{employee.firstName}}
                    </td>
                    <td>
                        {{employee.lastName}}
                    </td>
                    <td>
                        {{employee.department}}
                    </td>
                    <td>
                        <span class="label label-primary labelSpacing" ng-repeat="ability in employee.abilities">{{ability.name}}</span>
                    </td>
                </tr>
            </table>
        </div>
</div>
